/ = form_for @new_photo, url: photos_path, method: :post, :html => {:multipart => true} do |p|
/ 	= p.label "Photo name"
/ 	= p.text_field :name
/ 	%br
/ 	= p.label "Date"
/ 	= p.date_select :date
/ 	%br
/ 	= p.file_field :image
/ 	%br
/ 	= p.submit "Add a new photo"


- @event.photos.each do |p|
	= image_tag p.image_url(:thumb).to_s
	= p.photo_name
	= link_to "Edit picture", edit_photo_path(p)
	= link_to "Delete picture", p, data: { confirm: "Are you sure you want to delete this picture?" }, method: "delete"
	= link_to "View picture", photo_path(p)
		
= link_to "Add new photo", new_photo_path(event_id: @event.id)